################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs
/.vs
/DownloadOCR_Processor/bin
/DownloadOCR_Processor/bin64
/DownloadOCR_Processor/bin64
/FormsEditor/.vs/MasterFormsEditor_4/v14
/FormsEditor/bin
/FormsEditor/obj_4
/FormsEditor/bin
/KYC_Abot/bin
/DownloadOCR_Processor/Documents
/KYC_Abot/obj
/KYC_Crawler/bin
/KYC_DataIO/bin
/KYC_Crawler/obj/Debug
/KYC_DataIO/obj/Debug
/KYC_DataIO/obj
/KYC_DataLayer/bin/Debug
/KYC_DataLayer/Import Schema Logs
/KYC_DataLayer/obj/Debug
/KYC_Parser/bin
/KYC_Parser/obj/Debug
/KYC_Parser/obj/Release
*.user
/KYC_WebApp/bin
/KYC_WebApp/obj
/KYC_WebApp/Content/less
/KYC_WFEngine/bin/Debug
/KYC_WFEngine/obj/Release
/KYC_WFEngine/obj/Debug
/KYC_Crawler/obj/Release
/DownloadOCR_Processor.Azure
/DownloadOCR_Processor/obj
/pdfSharp/bin/Debug
/pdfSharp/obj/Debug
/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
*.dbmdl
/Abot/bin
/Abot/obj
/KYC.Core/bin
/KYC.Core/obj
/KYC.Crawler/bin
/KYC.Crawler/obj
/KYC.Parser/bin
/KYC.Parser/obj
/KYC.Services.Scrapper/bin
/KYC.Services.Scrapper/obj
/KYC.SQL/bin
/KYC.SQL/obj
/KYC.WebApp/bin
/KYC.WebApp/obj
/packages
/FormsEditor/obj/x86/DEV
/KYC.SQL/KYC.SQL.jfm
/KYC_Crawler/obj/DEV
/KYC_Crawler.Tests/obj/Debug
/KYC_Parser/obj/DEV
/KYC_WFEngine/obj/DEV
/KYC.Services.Scrapper/Documents
/KYC.WebApp/Documents/UK
/KYC_DataLayer/bin/Output
/KYC_DataLayer/obj/DEV
/KYC_WFEngine/bin/DEV
/ExternalDataSources/KYC.Services.Periodic.Scrapper.courtsie/bin
/ExternalDataSources/KYC.Services.Periodic.Scrapper.courtsie/obj
/KYC.Services.Scrapper.Stateless
/KYC.WebApp/.vs/config
/ServiceFabric
/SourceTemplate/HTML/assets/img/credit
/KYC.Cluster.Deploys.sln
/KYC.Services.Scrapper/Properties/PublishProfiles/KYCDevelopmentServicesScrapper - Web Deploy.pubxml
/ExternalLib/Tools/MasterFormsEditor/$RANDOM_SEED$
/ExternalLib/Tools/MasterFormsEditor
/KYC.Tools/KYC.MasterFormsEditor/obj_4/x64/Debug
/KYC.Environment.Management/bin
/KYC.Environment.Management/obj
/KYC.OCR/bin
/KYC.OCR/obj
/KYC.Tools/KYC.MasterFormsEditor/obj_4/x64/Debug/*.cache
/KYC.Tools/KYC.MasterFormsEditor/obj_4/x64/Debug/KYC.MasterFormsEditor.csproj.FileListAbsolute.txt
/ExternalDataSources/OnDemand/checktheregister.ie/obj/Debug
/ExternalDataSources/OnDemand/checktheregister.ie/bin/$RANDOM_SEED$
/ExternalDataSources/OnDemand/checktheregister.ie/bin/checktheregister.ie.dll
/ExternalDataSources/OnDemand/checktheregister.ie/bin/checktheregister.ie.dll
/ExternalDataSources/OnDemand/checktheregister.ie/bin/checktheregister.ie.pdb
/ExternalDataSources/OnDemand/checktheregister.ie/bin/settings.config
/ExternalDataSources/Periodic/courts.ie/bin
/ExternalDataSources/Periodic/courts.ie/obj/Debug
/ExternalDataSources/Periodic/courts.ie/obj/DEMO
/ExternalDataSources/Periodic/courts.ie/obj/Release/build.force
/ExternalDataSources/Periodic/courts.ie/obj/Release
/ExternalLib/LeadTools/Common/OcrAdvantageRuntime
/ExternalLib/$RANDOM_SEED$
/ExternalLib/CSMasterFormsEditor.exe
/ExternalLib/eval-license-files.lic
/ExternalLib/eval-license-files.lic.key
/ExternalLib/LEADTOOLS.LIC
/ExternalLib/LEADTOOLS.LIC.KEY
/ExternalLib/log4net.xml
/KYC.Tools/KYC.MasterFormsEditor/obj_4/x64/Release
/ServiceTester/bin/Debug
/ServiceTester/obj/Debug
/ExternalDataSources/OnDemand/checktheregister.ie/bin
/ExternalDataSources/OnDemand/checktheregister.ie/obj
/ServiceTester/bin
/ServiceTester/obj
/KYC.Tools/KYC.MasterFormsEditor/obj_4
*.db
/KYC.Tools/Scheduler/KYC.Scheduler/bin/Debug
/KYC.Tools/Scheduler/KYC.Scheduler/obj/Debug
/ExternalLib/CSMasterFormsEditor.vshost.exe
/ExternalLib/CSMasterFormsEditor.vshost.exe.manifest
/ExternalLib/CSMasterFormsEditor.vshost.exe.manifest
/KYC.Tools/Scheduler/KYC.Scheduler/bin
/KYC.Tools/Scheduler/KYC.Scheduler/obj
/ExternalLib/log4net.dll
/ExternalLib/log4net.dll
/ExternalDataSources/OnDemand/NameAddressVerifier.ie/bin/Debug
/ExternalDataSources/OnDemand/NameAddressVerifier.ie/obj/Debug
/Mobile/KYC.Mobile.Service/obj
/Mobile/KYC.Mobile.Service/bin
/Mobile/KYC.Mobile.Service/Properties/PublishProfiles/_sgbak
/Mobile/KYC.Mobile.Service/Properties/_sgbak
/ExternalDataSources/OnDemand/NameAddressVerifier.ie/bin
/ExternalDataSources/OnDemand/NameAddressVerifier.ie/obj
/ExternalLib/CSMasterFormsEditor.pdb
/ExternalDataSources/OnDemand/WorldCheck/bin/Debug
/ExternalDataSources/OnDemand/WorldCheck/obj/Debug
/ExternalDataSources/OnDemand/WorldCheck/bin
/ExternalDataSources/OnDemand/WorldCheck/obj
/KYC.ApiServer.Services/obj/Debug
/KYC.ApiServer.Services/bin/Debug
/KYC.ApiServer.Interfaces/obj/Debug
/KYC.ApiServer.Interfaces/bin/Debug
/KYC.ApiServer.DTOs/obj/Debug
/KYC.ApiServer.DTOs/bin/Debug
/KYC.ApiServer/obj/Debug
/KYC.ApiServer/bin
/KYC.ApiServer.Authentication/obj/Debug
/KYC.ApiServer.Authentication/bin/Debug
/KYC.ApiServer/obj/Release
/KYC.ApiServer.Authentication/bin/Release
/KYC.ApiServer.Authentication/obj/Release
/KYC.ApiServer.DTOs/bin/Release
/KYC.ApiServer.DTOs/obj/Release
/KYC.ApiServer.Interfaces/bin/Release
/KYC.ApiServer.Interfaces/obj/Release
/KYC.ApiServer.Services/bin/Release
/ExternalDataSources/Periodic/courts.ie/obj
/KYC.ApiServer/obj
/KYC.ApiServer.Authentication/bin
/KYC.ApiServer.Authentication/obj
/KYC.ApiServer.DTOs/bin
/KYC.ApiServer.DTOs/obj
/KYC.ApiServer.Interfaces/bin
/KYC.ApiServer.Interfaces/obj
/KYC.ApiServer.Services/bin
/KYC.ApiServer.Services/obj
/KYC.Tools/KYC.MasterFormsEditor/bin
/KYC.Tools/KYC.MasterFormsEditor/obj
*.tmp
/KYC.Core/database.DEMO.config
/KYC.Core/database.PROD.config
/KYC.Core/database.STAGE.config
/KYC.Core/settings.DEMO.config
/KYC.Core/settings.PROD.config
/KYC.Core/settings.STAGE.config
/KYC.API2/bin
/KYC.API2/obj
/KYC.API2/JayRock/Jayrock/bin/DEV
/KYC.API2/JayRock/Jayrock/obj
/KYC.API2/JayRock/Jayrock.Json/obj/Debug
/KYC.API2/API/bin/database.config
/KYC.API2/API/bin/itextsharp.xml
/KYC.API2/API/bin/Microsoft.Practices.ServiceLocation.dll
/KYC.API2/API/bin/Microsoft.Practices.ServiceLocation.pdb
/KYC.API2/API/bin/Microsoft.Practices.ServiceLocation.xml
/KYC.API2/API/bin/Microsoft.Practices.Unity.Configuration.dll
/KYC.API2/API/bin/Microsoft.Practices.Unity.Configuration.xml
/KYC.API2/API/bin/Microsoft.Practices.Unity.RegistrationByConvention.dll
/KYC.API2/API/bin/Microsoft.Practices.Unity.RegistrationByConvention.xml
/KYC.API2/API/bin/settings.config
/KYC.API2/API/bin
/KYC.API2/API/obj
/KYC.API2/JayRock/Jayrock.Json/obj/Release
/KYC.API2/API.Client/packages
/Abby.CloudOcrSdk/bin/Debug
/Abby.CloudOcrSdk/obj/Debug
/KYC.API2/API/obj/DEV/DesignTimeResolveAssemblyReferencesInput.cache
/KYC.API2/API/obj/DEV
/Tests/KYC.OCR.Tester/bin/Debug
/Tests/KYC.OCR.Tester/obj/Debug
/KYC.OCR2/bin/Debug
/KYC.OCR2/obj/Debug
/Abby.CloudOcrSdk/bin/Debug
/Abby.CloudOcrSdk/obj/Debug
/KYC.OCR2/bin/Debug
/KYC.OCR2/obj/Debug
/Tests/KYC.OCR.Tester/bin/Debug
/ExternalDataSources/OnDemand/KYC.Services.OnDemand.IdentityVerifier/[Bb]in
/ExternalDataSources/OnDemand/KYC.Services.OnDemand.IdentityVerifier/[Oo]bj
/KYC.Starter/[Bb]in
/KYC.Starter/[Oo]bj
/Abby.CloudOcrSdk/obj/Release
/KYC.API2/API/obj/STAGE
/KYC.API2/API/obj/STAGE
/KYC.OCR2/obj/Release
/KYC.API2/API/obj/DEV
/KYC.API2/API/obj/DEV
/Tests/KYC.OCR.Tester/obj/Release
/KYC.API2/JayRock/Jayrock.Json/bin/DEV
/KYC.API2/JayRock/Jayrock.Json/obj/DEV
/Tests/KYC.OCR.Tester/[Oo]bj
/Tests/KYC.OCR.Tester/[Bb]in
/KYC.Crawler.Individuals/bin
/KYC.Crawler.Individuals/obj
/KYC.Crawler.Companies/bin
/KYC.Crawler.Companies/obj
/Tests/KYC.OCR.Tester/bin
/KYC.OCR2/bin
/KYC.API2/JayRock/Jayrock.Json/bin
/Abby.CloudOcrSdk/bin
/Tests/Nova pasta/KYC.UnitTests/bin/Debug
/Tests/Nova pasta/KYC.UnitTests/obj/Debug
/Tests/Nova pasta/KYC.UnitTests/bin
/Tests/Nova pasta/KYC.UnitTests/obj
/Tests/KYC.UITests/[Oo]bj
/Tests/KYC.UITests/[Bb]in
/KYC.UITests/packages
/KYC.UITests/.vs
/Tests/Nova pasta/KYC.UnitTests/obj/Release
/Tests/Nova pasta/KYC.UnitTests/bin
/Tests/Nova pasta/KYC.UnitTests/obj
/KYC.UITests/bin
/KYC.UITests/obj
/KYC.API2/JayRock/Jayrock/bin/STAGE
/KYC.API2/JayRock/Jayrock.Json/obj/STAGE
/Tests/KYC.ApiTests/[Bb]in
/Tests/KYC.ApiTests/[Oo]bj
/.idea
**/.idea

/KYC.APITests/packages
/KYC.APITests/.vs
/KYC.APITests/bin
/KYC.APITests/obj

KYC.ExternalWebUpload/bin/
KYC.ExternalWebUpload/obj/

KYC.Globalization/bin/
KYC.Globalization/obj/

KYC.Periodic.WorldCheck/bin/
KYC.Periodic.WorldCheck/obj/

Tests/KYC.UnitTests/bin/
Tests/KYC.UnitTests/obj/

Tests/KYC.IntegrationTests/bin/
Tests/KYC.IntegrationTests/obj/

KYC.DataValidation/bin/
KYC.DataValidation/obj/

KYC.Snapshot/bin/
KYC.Snapshot/obj/

KYC.API/bin/
KYC.API/obj/

KYC.CustomerMigration/bin/
KYC.CustomerMigration/obj/

ExternalDataSources/Periodic/CompanyMarket/bin
ExternalDataSources/Periodic/CompanyMarket/obj
Tests/CompanyMarket.Tests/obj
Tests/CompanyMarket.Tests/bin
KYC.API2/API/MasterForms/
/KYC.API2/JayRock/Jayrock/bin

Mobile/AndroidOpenCV/bin
Mobile/AndroidOpenCV/obj
Mobile/Common.XamarinForms.Platform/bin
Mobile/Common.XamarinForms.Platform/obj
Mobile/Common.XamarinForms.Platform.Android/bin
Mobile/Common.XamarinForms.Platform.Android/obj
Mobile/Common.XamarinForms.Platform.iOS/bin
Mobile/Common.XamarinForms.Platform.iOS/obj
Mobile/Common.XamarinForms.Platform.UWP/bin
Mobile/Common.XamarinForms.Platform.UWP/obj
Mobile/Common.XamarinForms.Toolkit/bin
Mobile/Common.XamarinForms.Toolkit/obj
Mobile/iOSDocumentCamera/bin
Mobile/iOSDocumentCamera/obj
Mobile/KnowYourCustomer/KnowYourCustomer/bin
Mobile/KnowYourCustomer/KnowYourCustomer/obj
Mobile/KnowYourCustomer/KnowYourCustomer.Android/bin
Mobile/KnowYourCustomer/KnowYourCustomer.Android/obj
Mobile/KnowYourCustomer/KnowYourCustomer.iOS/bin
Mobile/KnowYourCustomer/KnowYourCustomer.iOS/obj
Mobile/KnowYourCustomer/KnowYourCustomer.UWP/bin
Mobile/KnowYourCustomer/KnowYourCustomer.UWP/obj
Mobile/KnowYourCustomer/KnowYourCustomer.UWP/KnowYourCustomer.UWP.nuget.targets
Mobile/Common.XamarinForms.Platform.UWP/Common.XamarinForms.Platform.UWP.nuget.targets

Mobile_Old/AndroidOpenCV/bin
Mobile_Old/AndroidOpenCV/obj
Mobile_Old/Common.XamarinForms.Platform/bin
Mobile_Old/Common.XamarinForms.Platform/obj
Mobile_Old/Common.XamarinForms.Platform.Android/bin
Mobile_Old/Common.XamarinForms.Platform.Android/obj
Mobile_Old/Common.XamarinForms.Platform.iOS/bin
Mobile_Old/Common.XamarinForms.Platform.iOS/obj
Mobile_Old/Common.XamarinForms.Platform.UWP/bin
Mobile_Old/Common.XamarinForms.Platform.UWP/obj
Mobile_Old/Common.XamarinForms.Toolkit/bin
Mobile_Old/Common.XamarinForms.Toolkit/obj
Mobile_Old/iOSDocumentCamera/bin
Mobile_Old/iOSDocumentCamera/obj
Mobile_Old/KnowYourCustomer/KnowYourCustomer/bin
Mobile_Old/KnowYourCustomer/KnowYourCustomer/obj
Mobile_Old/KnowYourCustomer/KnowYourCustomer.Android/bin
Mobile_Old/KnowYourCustomer/KnowYourCustomer.Android/obj
Mobile_Old/KnowYourCustomer/KnowYourCustomer.iOS/bin
Mobile_Old/KnowYourCustomer/KnowYourCustomer.iOS/obj
Mobile_Old/KnowYourCustomer/KnowYourCustomer.UWP/bin
Mobile_Old/KnowYourCustomer/KnowYourCustomer.UWP/obj
Mobile_Old/KnowYourCustomer/KnowYourCustomer.UWP/KnowYourCustomer.UWP.nuget.targets
Mobile_Old/Common.XamarinForms.Platform.UWP/Common.XamarinForms.Platform.UWP.nuget.targets
Mobile_Old/AndroidOpenCV/Jars/

# DNX
project.lock.json
project.fragment.lock.json
artifacts/
KYC.Services.Scrapper/PhantomJs/phantomjs.exe
KYC.Triggers/bin/Debug/
KYC.Triggers/obj/Debug/
KYC.Bus/bin/
KYC.Bus/obj/
KYC.TriggersSubscriber/bin/
KYC.TriggersSubscriber/obj/
KYC.Periodic.SingaporeDataUpdate/bin/Debug/AbbyyOnlineSdk.dll.config
KYC.Periodic.SingaporeDataUpdate/bin/
KYC.Periodic.SingaporeDataUpdate/obj/
KYC.ApplicationLayer/bin/
KYC.ApplicationLayer/obj/
KYC.Triggers/obj/
KYC.BusinessRulesEngine/bin/
KYC.BusinessRulesEngine/obj/
Tests/KYC.BusinessRulesEngine.Tests/bin/
Tests/KYC.BusinessRulesEngine.Tests/obj/
KYC.WebHooks/bin/
KYC.WebHooks/obj

Mobile/PremiumCredit/PremiumCredit.Android/bin/
Mobile/PremiumCredit/PremiumCredit.Android/obj/
Mobile/PremiumCredit/PremiumCredit.iOS/obj/
Mobile/PremiumCredit/PremiumCredit.iOS/bin/

Mobile/KYC.Mobile.API/bin/
Mobile/KYC.Mobile.API/obj/

# Custom
GOOGLE_APPLICATION_CREDENTIALS.json

Mobile/AndroidOpenCV/Jars/
Mobile/KYC.Mobile.Core/bin/
Mobile/KYC.Mobile.Core/obj/

CI-Version.md

LexisNexis/bin/

LexisNexis/obj/

/KYC.ReportGenerator/bin
/KYC.ReportGenerator/obj
/KYC.ReportGenerator/.vs/KYC.ReportGenerator/v15/*.suo

/KYC.Billing/bin
/KYC.Billing/obj

/KYC.AppCenterToSeq/bin
/KYC.AppCenterToSeq/obj

/KYC.Migrations/KYC.Migrations.ScheduleOldCasesForReview/bin
/KYC.Migrations/KYC.Migrations.ScheduleOldCasesForReview/obj
/KYC.Migrations/packages
/KYC.Migrations/.idea
CCR/bin/Debug/
CCR/obj/Debug/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

/KYC.Config.WebApp/bin
/KYC.Config.WebApp/obj

/KYC.WebApp/node_modules
/node_modules
/KYC.WebApp/public
/KYC.Microservices/.vs/KYC.MicroServices
/KYC.Microservices/.vs/config

/KYC.Config.WebApp/public
/KYC.Config.WebApp/node_modules
/KYC.Config.WebApp/assets/*
!/KYC.Config.WebApp/assets/CurrentProject
/KYC.Config.WebApp/Scripts/*
!/KYC.Config.WebApp/Scripts/CurrentProject
/KYC.Config.WebApp/Templates/*
!/KYC.Config.WebApp/Templates/CurrentProject
KYC.MicroServices/.idea/*
*.DotSettings
/KYC.API/Logs
**/.vs
/.sonarqube
**/.local-chromium
MigrationBackup/
